body{
    background-color: rgb(44, 114, 91);
    font: normal 15pt Lato;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: rgba(255, 255, 255, 0.85);
    width: 500px;
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.461);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

#mostrar{
    text-align: center;
}
#mostrar input{
    font-size: 90pt;
    border: none;
    background-color: rgba(255, 255, 255, 0.0);
}

#botoes p{
    text-align: center;
}

#botoes input{
    margin: 0 20px;
    width: 120px;
    height: 40px;
    background-color: rgb(97, 97, 97);
    color: white;
    font-size: 13pt;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

#botoes input:hover{
    background-color: rgb(61, 61, 61);
}

footer a{
    text-decoration: none;
    color: white;
}